.forgotFormContainer {
    width: 50%;
    margin: auto;
    height: 20em;
    background: url('../../../assets/images/paper.png');
    background-size: cover;
}
.forgotForm {
    padding: 5%;
    padding-top: 15%;
}
