.resetPassordFormContainer {
    width: 50%;
    margin: auto;
    height: 28em;
    background: url('../../../assets/images/paper.png');
    background-size: cover;
}
.resetPasswordForm {
    padding: 5%;
    padding-top: 15%;
}
